/*#FEFEFE*/

header {
	text-align: center;
/*	display: inline-block;
	float: left;*/
 /*  padding: 50px;*/
	font-size: 10px;
	font-style: italic;
   border: 5px solid #535A60;
   background-color: #535A60 ;
   margin-bottom: 10px;
   border-bottom: 10px solid #D84826;
}

body{
   margin: 0;

}

h1 {
   margin-bottom: 5px;
   font-family: helvetica;
}

.charlie {
   width: 800px;
   text-align: justify;
   margin-left: 230px;
   margin-right: 10px;
   padding-top: 25px;
   border: 1px solid white;
   background-color: #FEFEFE;
   display: inline-block;
   margin-bottom: 10px;
}

#charliepic {
   width: 300px;
/*   height: 400px;*/
   float: left;
 }
/*
 #charliepic:hover {
   box-shadow: 10px 10px 5px #888888;
 }*/

 #aword {
   padding-top: 80px;
   float: left;
 }

 #name {
   float: left;
 }

#charliewords {
   float: right;
   margin-bottom: 20px;
}

#logo {
	width: 400px;
/*	display: inline-block;*/
}

#cat-img{
   width: 100%;
}

#lazycat-img{
   width: 100%;
}

#buds-img{
   width: 100%;
}


.info {
   width: 800px;
   font-family: helvetica;
   text-align: justify;
   margin-left: 230px;
}

.story {
   width: 800px;
   font-family: helvetica;
   text-align: justify;
   margin-left: 230px;
}

.nav {

   position: fixed;
   top: 250px;
   left: 100px;
}

.gallery {
   width: 900px;
   margin: 5% auto;
   font-size: 15px;
   text-align: justify;
   border: 5px solid #D84826;
   border-radius: 10px;
   background-color: #535A60 ;
}


.gallery>h2{
   border: 5px solid #D84826;
   border-radius: 10px;
   background-color: #CDCAC5;
   width: 80%;
   margin: 1% 10%;
   text-align: center;
   font-size: 3em;
}
.cats{
   border: 5px solid #D84826;
   border-radius: 10px;
   background-color: #CDCAC5;
   float: left;
   width: 30%;
   margin: 1%;
   height: 350px;
   text-align: center;
}
.cats>img{
   height: 150px;
   margin: 2%;
   
}
.cats>h1{
   
   margin: 5px;
   font-size: 1.5em;
   clear: both;
}
.cats>p{
   clear: left;
   margin: 1em;
}
.people>img{
   width: 80%;
   margin: 0 10%;
}
.people>h1{
   font-size: 1em;
}
.people{
   border: 5px solid #D84826;
   border-radius: 10px;
   background-color: #CDCAC5;
   float: left;
   margin: 1%;
   text-align: center;
   width: 190px;
}
.social{
   width: 80%;
   margin: 10%;
   text-align: center;
 



}
.social>a>img{
   width: 10%;
   margin: 2%;
}
.social>h1{
   width: 50%;
   margin: 5% 25%;
   border: 5px solid #D84826;
   border-radius: 10px;
   background-color: #CDCAC5;
   font-size: 2vw;
}
.social>h1>img{
   width: 80%;
   margin: 10%;
}
footer{
   width: 100%;
   text-align:center;
}
#blogo{
   background-color: #535A60;
}

#meow {
   float: left;
   width: 150px;
}

#hover:hover {
   font-size: 20px;
   color: #D84826;

}

#donatebar{
   border:none;
}
#apply, #donate{
   height: 140px;
   font-weight: bold;
   margin: 5%;
}
#apply{
   float: right;
}
#donate{
   float: left;
}