/*
Logo Background: #535A60
Circle Behind Cat: #CDCAC5
Orange Mittens: #D84826
Black of the Cat: #231F20
*/



/*general styles*/
body{
	background-color: #535A60;
	font: helvetica;
}

/*landing page*/
#KMlogo{
	width: 70%;
	margin:  100px 15% 0;
}
.button{
	border-radius: 8px;
	margin: 10px;
	padding: 10px;
	font: #D84826 2vw;
	border: solid #D84826;
	background-color: #CDCAC5;
}
#videopage{
	float: left;
}

#infopage{
	float: right;
}
/*video page*/
#vidlogo{
	display: block;
	width: 200px;
	margin: auto;

}
#charlievideo{
	width: 100%;
	margin-bottom: 50px;
}
#vid2info{
	text-align: center;
	width: 300px;
	margin: 0 auto;
}


/*gallery page styles*/
header {
	text-align: center;
/*	display: inline-block;
	float: left;*/
	padding: 50px;
	font-size: 10px;
	font-style: italic;
}
#logo {
	width: 300px;
/*	display: inline-block;*/
}

#page {
	width: 900px;
	margin: 0px auto;
	text-align: center;
}
.gallery {
	width: 900px;
	float: left;
	margin: 5% auto;
	font-size: 15px;
	text-align: justify;
	border: 5px solid #D84826;
	border-radius: 10px;
}

.gallery>h2{
	border: 5px solid #D84826;
	border-radius: 10px;
	background-color: #CDCAC5;
	width: 80%;
	margin: 1% 10%;
	text-align: center;
	font-size: 3em;
}
.donatebar {
	clear: both;
	border: 5px solid #D84826;
	background-color: #CDCAC5;
	float: right;
	width: 60%;
	margin-top: 20px;
}

#feline{
}

.cats{
	border: 5px solid #D84826;
	border-radius: 10px;
	background-color: #CDCAC5;
	float: left;
	width: 30%;
	margin: 1%;
	height: 350px;
	text-align: center;
}
.cats>img{
	height: 150px;
	margin: 2%;
	
}
.cats>h1{
	
	margin: 5px;
	font-size: 1.5em;
	clear: both;
}
.cats>p{
	clear: left;
	margin: 1em;
}
.people>img{
	width: 80%;
	margin: 0 10%;
}
.people>h1{
	font-size: 1em;
}
.people{
	border: 5px solid #D84826;
	border-radius: 10px;
	background-color: #CDCAC5;
	float: left;
	margin: 1%;
	text-align: center;
	width: 170px;
}

#donate{
	float: right;
}
#social{}
footer {
	clear: both;
	border: 5px solid #D84826;
	background-color: #CDCAC5;
}
