/*
Logo Background: #535A60
Circle Behind Cat: #CDCAC5
Orange Mittens: #D84826
Black of the Cat: #231F20
*/



/*general styles*/
body{
	background-color: #535A60;
	font: helvetica;


}

/*landing page*/
#KMlogo{
	width: 90%;
	margin: 5%;

}
.button{
	margin: 10px;
	padding: 10px;
	font: #D84826 2vw;
	border: solid #D84826;
	background-color: #CDCAC5;
}
#videopage{
	float: left;
}

#infopage{
	float: right;
}
/*video page*/
.charlievideo{}



/*info pace styles*/
.page{}
.charlie{}
.gallery{}
#feline{}
.cats{}
#celeb{}
.people{}
.donate{}
#social{}